<div class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a href="/"><i class="fa-solid fa-house-crack fa-xl"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Browse", pokemons_path, class: "nav-links" %>
          </li>
          <li class="nav-item">
            <%= link_to "List", "#", class: "nav-links" %>
          </li>
          <li class="me-2"></li>
          <li class="nav-item dropdown">
            <%= image_tag "pokemonball.png", class: "avatar dropdown-toggle shadow", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# Only if I'm an owner %>
              <%= link_to "My Pokémons", my_pokemons_path, class: "dropdown-item" %>
              <%= link_to "My Bookings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
