<div class="banner shadow d-flex align-items-center justify-content-center mb-3">
  <div class="text-left text-white">
    <h1>Hire a Pokémon for your daily life</h1>
    <p></p>
    <h3 class="typed-js" data-controller="typed-js"></h3>
    <p></p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="container mt-5">
  <h4 style="opacity: 0.8">Our latest Pokémons</h4>
  <p class="mb-4"></p>
  <div class="cards">
    <div id="recent-pokemons">
     <% @recent_pokemons.each do |pokemon| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %> picture">
        <div class="card-body text-center">
          <h4><%=pokemon.name%></h4>
          <p><%=pokemon.description%></p>
          <%= link_to 'View', pokemon_path(pokemon), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
