<div class="banner shadow d-flex align-items-center justify-content-center mb-3">
  <div class="text-left text-white">
    <h1>Hire a Pokémon for your daily life</h1>
    <p></p>
    <h3 class="typed-js" data-controller="typed-js"></h3>
    <p></p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="container mt-5">
  <h4 style="opacity: 0.8">Our latest Pokémons</h4>
  <p class="mb-4"></p>
  <div class="cards">
    <% @recent_pokemons.each do |pokemon| %>
      <% if current_user %>
        <%= link_to pokemon_path(pokemon), class: "text-decoration-none" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= pokemon.image_url %>); height: 300px;">
            <span><%= pokemon.name.capitalize %></span>
            <p><%= pokemon.description %></p>
          </div>
        <% end %>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= pokemon.image_url %>); height: 300px;">
          <span><%= pokemon.name.capitalize %></span>
          <p><%= pokemon.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
