<div class="container my-5 pt-4">
  <h2 class="card-heading pt-4 pb-3">My Bookings</h2>

  <!-- We should create a tab to switch from bookings as a owner to bookings as a renter-->
  <div>
    <h2 class="text-center">Upcoming bookings</h2>
    <div class="d-flex justify-content-between my-4">
      <!-- Upcoming bookings from renters to owners-->
      <div class="card-bookings">
        <h5>Your Bookings</h5>
        <% if @bookings[:upcoming][:from].present? %>
          <% @bookings[:upcoming][:from].each do |booking| %>
            <div class="card-booking shadow from-renter">
              <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
              <div class="card-booking-info">
                <h2><%= booking.pokemon.name %></h2>
                <p>Rented from : <%= booking.pokemon.user.username %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <p>Price: $ <%= (booking.end_date - booking.start_date) * booking.pokemon.price %></p>
              </div>
              <div>
                <p>Booking status: <%= booking.status %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You haven't booked any future Pokémons.</p>
        <% end %>
      </div>

      <!-- Upcoming bookings from owners to renters-->
      <div class="card-bookings">
        <h5>Your Pokémon Bookings</h5>
        <% if @bookings[:upcoming][:to].present? %>
          <% @bookings[:upcoming][:to].each do |booking| %>
            <div class="card-booking shadow to-renter">
              <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
              <div class="card-booking-info">
                <h2><%= booking.pokemon.name %></h2>
                <p>Rented to: <%= booking.user.username %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <p>Price: $ <%= (booking.end_date - booking.start_date) * booking.pokemon.price %></p>
              </div>
              <div class="card-booking-status">
                <% if booking.status == "Pending" %>
                  <%= link_to "Approve", booking_accept_path(booking), data: { confirm: "Do you want to accept this booking?"} %>
                  <%= link_to "Refuse", booking_reject_path(booking), data: { confirm: "Are you sure you want to refuse this booking?"} %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You don't have any future bookings for your Pokémons.</p>
        <% end %>
      </div>
    </div>
  </div>

  <p></p>
  <div>
    <h2 class="text-center">Present bookings</h2>
    <div class="d-flex justify-content-between my-4">
      <!-- present bookings from renters to owners-->
      <div class="card-bookings">
        <h5>Your Bookings</h5>
        <% if @bookings[:present][:from].present? %>
          <% @bookings[:present][:from].each do |booking| %>
            <div class="card-booking shadow from-renter">
              <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
              <div class="card-booking-info">
                <h2><%= booking.pokemon.name %></h2>
                <p>Rented from : <%= booking.pokemon.user.username %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <p>Price: $ <%= (booking.end_date - booking.start_date) * booking.pokemon.price %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You're not booking any Pokémons.</p>
        <% end %>
      </div>

      <!-- present bookings from owners to renters-->
      <div class="card-bookings">
        <h5>Your Pokémon Bookings</h5>
        <% if @bookings[:present][:to].present? %>
          <% @bookings[:present][:to].each do |booking| %>
            <div class="card-booking shadow to-renter">
              <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
              <div class="card-booking-info">
                <h2><%= booking.pokemon.name %></h2>
                <p>Rented to: <%= booking.user.username %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <p>Price: $ <%= (booking.end_date - booking.start_date) * booking.pokemon.price %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>None of your Pokémon(s) is booked at the moment.</p>
        <% end %>
      </div>
    </div>
  </div>

  <p></p>
  <div>
    <h2 class="text-center">History bookings</h2>
    <div class="d-flex justify-content-between my-4">
      <!-- past bookings from renters to owners-->
      <div class="card-bookings">
        <h5>Your Bookings</h5>
        <% if @bookings[:past][:from].present? %>
          <% @bookings[:past][:from].each do |booking| %>
            <div class="card-booking shadow from-renter">
              <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
              <div class="card-booking-info">
                <h2><%= booking.pokemon.name %></h2>
                <p>Rented from : <%= booking.pokemon.user.username %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <p>Price: $ <%= (booking.end_date - booking.start_date) * booking.pokemon.price %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You've never booked a Pokémon.</p>
        <% end %>
      </div>

      <!-- present bookings from owners to renters-->
      <div class="card-bookings">
        <h5>Your Pokémon Bookings</h5>
        <% if @bookings[:past][:to].present? %>
          <% @bookings[:past][:to].each do |booking| %>
            <div class="card-booking shadow to-renter">
              <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
              <div class="card-booking-info">
                <h2><%= booking.pokemon.name %></h2>
                <p>Rented to: <%= booking.user.username %></p>
                <p>From: <%= booking.start_date %></p>
                <p>To: <%= booking.end_date %></p>
                <p>Price: $ <%= (booking.end_date - booking.start_date) * booking.pokemon.price %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You've never rented out a Pokémon to anyone.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
