<h2>My Bookings</h2>

<!-- We should create a tab to switch from bookings as a owner to bookings as a renter-->

<!-- Upcoming bookings from renters to owners-->
<% if @bookings[:upcoming][:from].present? %>
  <% @bookings[:upcoming][:from].each do |booking| %>
    <%= booking.pokemon.name %>
    Rented from : <%= booking.pokemon.user.username %>
    From: <%= booking.start_date %>
    To: <%= booking.end_date %>
    Price: $ <%= booking.price.to_i.to_s %>
  <% end %>
<% else %>
  <p>There's no upcoming bookings from potential renters.</p>
<% end %>

<!-- Upcoming bookings from owners to renters-->
<% if @bookings[:upcoming][:to].present? %>
  <% @bookings[:upcoming][:to].each do |booking| %>
    <%= booking.pokemon.name %>
    Rented to : <%= booking.user.username %>
    From: <%= booking.start_date %>
    To: <%= booking.end_date %>
    Price: $ <%= booking.price.to_i.to_s %>
  <% end %>
<% else %>
  <p>There's no upcoming bookings from owners.</p>
<% end %>


<!-- Present bookings from renters to owners-->
<% if @bookings[:present][:from].present? %>
  <% @bookings[:present][:from].each do |booking| %>
    <%= booking.pokemon.name %>
    Rented from : <%= booking.pokemon.user.username %>
    From: <%= booking.start_date %>
    To: <%= booking.end_date %>
    Price: $ <%= booking.price.to_i.to_s %>
  <% end %>
<% else %>
  <p>There's no present bookings from potential renters.</p>
<% end %>

<!-- Present bookings from owners to renters-->
<% if @bookings[:present][:to].present? %>
  <% @bookings[:present][:to].each do |booking| %>
    <%= booking.pokemon.name %>
    Rented to : <%= booking.user.username %>
    From: <%= booking.start_date %>
    To: <%= booking.end_date %>
    Price: $ <%= booking.price.to_i.to_s %>
  <% end %>
<% else %>
  <p>There's no present bookings from owners.</p>
<% end %>

<!-- Past bookings from renters to owners-->
<% if @bookings[:past][:from].present? %>
  <% @bookings[:past][:from].each do |booking| %>
    <%= booking.pokemon.name %>
    Rented from : <%= booking.pokemon.user.username %>
    From: <%= booking.start_date %>
    To: <%= booking.end_date %>
    Price: $ <%= booking.price.to_i.to_s %>
  <% end %>
<% else %>
  <p>There's no existing bookings.</p>
<% end %>

<!-- Past bookings from owners to renters-->
<% if @bookings[:past][:to].present? %>
  <% @bookings[:past][:to].each do |booking| %>
    <%= booking.pokemon.name %>
    Rented to : <%= booking.user.username %>
    From: <%= booking.start_date %>
    To: <%= booking.end_date %>
    Price: $ <%= booking.price.to_i.to_s %>
  <% end %>
<% else %>
  <p>There's no existing bookings.</p>
<% end %>
