<div class="container my-5 pt-4">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-owner-tab" data-bs-toggle="tab" data-bs-target="#nav-owner" type="button" role="tab" aria-controls="nav-owner" aria-selected="true">As An Owner</button>
      <button class="nav-link" id="nav-renter-tab" data-bs-toggle="tab" data-bs-target="#nav-renter" type="button" role="tab" aria-controls="nav-renter" aria-selected="false">As A Renter</button>
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-owner" role="tabpanel" aria-labelledby="nav-owner-tab">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-owner" role="tabpanel" aria-labelledby="nav-owner-tab">
          <div class="my-5">
            <div class="container my-5 pt-4">
              <!-- We should create a tab to switch from bookings as a owner to bookings as a renter-->
              <h2 class="text-center">Booking requests received</h2>
              <div class="my-4">
                <!-- Upcoming bookings from renters to owners-->
                <div class="row">
                  <div class="card-bookings col-12 col-xl-4 border shadow">
                    <h5>Upcoming Bookings</h5>
                    <% if @bookings[:upcoming][:to].present? %>
                      <% @bookings[:upcoming][:to].each do |booking| %>
                        <div class="card-booking shadow to-renter">
                          <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
                          <div class="card-booking-info">
                            <h2><%= booking.pokemon.name %></h2>
                            <p>Renting to: <%= booking.user.username %></p>
                            <p>From: <%= booking.start_date %></p>
                            <p>To: <%= booking.end_date %></p>
                            <p>Total cost: $ <%= (booking.end_date - booking.start_date).to_i * booking.pokemon.price %></p>
                            <p>Booking status: <span class="fst-italic"><%= booking.status %></span></p>
                            <div class="card-booking-status">
                              <% if booking.status == "Pending" %>
                                <span class="booking-actions">
                                  <%= link_to "Approve", booking_accept_path(booking),
                                              method: :patch, class: "status approve" %> /
                                  <%= link_to "Refuse", booking_reject_path(booking),
                                              method: :patch,
                                              data: { confirm: "Are you sure you want to refuse this booking ❌ ?"}, class: "status refuse" %>
                                </span>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <p>You don't have any future bookings for your Pokémons.</p>
                    <% end %>
                  </div>

                  <!-- present bookings from owners to renters-->
                  <div class="card-bookings col-12 col-xl-4 border shadow">
                    <h5>Present Bookings</h5>
                    <% if @bookings[:present][:to].present? %>
                      <% @bookings[:present][:to].each do |booking| %>
                        <div class="card-booking shadow to-renter">
                          <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
                          <div class="card-booking-info">
                            <h2><%= booking.pokemon.name %></h2>
                            <p>Renting to: <%= booking.user.username %></p>
                            <p>From: <%= booking.start_date %></p>
                            <p>To: <%= booking.end_date %></p>
                            <p>Total cost: $ <%= (booking.end_date - booking.start_date).to_i * booking.pokemon.price %></p>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <p>None of your Pokémon(s) is booked at the moment.</p>
                    <% end %>
                  </div>

                  <!-- present bookings from owners to renters-->
                  <div class="card-bookings col-12 col-xl-4 border shadow">
                    <h5>Past Bookings</h5>
                    <% if @bookings[:past][:to].present? %>
                      <% @bookings[:past][:to].each do |booking| %>
                        <div class="card-booking shadow to-renter">
                          <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
                          <div class="card-booking-info">
                            <h2><%= booking.pokemon.name %></h2>
                            <p>Rented to: <%= booking.user.username %></p>
                            <p>From: <%= booking.start_date %></p>
                            <p>To: <%= booking.end_date %></p>
                            <p>Total cost: $ <%= (booking.end_date - booking.start_date).to_i * booking.pokemon.price %></p>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <p>You've never rented out a Pokémon to anyone.</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="nav-renter" role="tabpanel" aria-labelledby="nav-renter-tab">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-renter" role="tabpanel" aria-labelledby="nav-renter-tab">
          <div class="my-5">
            <div class="container my-5 pt-4">
              <!-- We should create a tab to switch from bookings as a owner to bookings as a renter-->
              <div>
                <h2 class="text-center">Booking requests made</h2>
                <div class="row">
                  <!-- present bookings from owners to renters-->

                   <div class="card-bookings col-12 col-xl-4 border shadow">
                    <h5>Upcoming Bookings</h5>
                    <% if @bookings[:upcoming][:from].present? %>
                      <% @bookings[:upcoming][:from].each do |booking| %>
                        <div class="card-booking shadow from-renter">
                          <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
                          <div class="card-booking-info">
                            <h2><%= booking.pokemon.name %></h2>
                            <p>Owner: <%= booking.pokemon.user.username %></p>
                            <p>From: <%= booking.start_date %></p>
                            <p>To: <%= booking.end_date %></p>
                            <p>Total cost: $ <%= (booking.end_date - booking.start_date).to_i * booking.pokemon.price %></p>
                            <p>Booking status: <span class="fst-italic"><%= booking.status %></span></p>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <p>You haven't booked any future Pokémons.</p>
                    <% end %>
                  </div>


                  <div class="card-bookings col-12 col-xl-4 border shadow">
                    <h5>Present Bookings</h5>
                    <% if @bookings[:present][:from].present? %>
                      <% @bookings[:present][:from].each do |booking| %>
                        <div class="card-booking shadow from-renter">
                          <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
                          <div class="card-booking-info">
                            <h2><%= booking.pokemon.name %></h2>
                            <p>Owner: <%= booking.pokemon.user.username %></p>
                            <p>From: <%= booking.start_date %></p>
                            <p>To: <%= booking.end_date %></p>
                            <p>Total cost: $ <%= (booking.end_date - booking.start_date).to_i * booking.pokemon.price %></p>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <p>You're not booking any Pokémons.</p>
                    <% end %>
                  </div>

                  <div class="card-bookings col-12 col-xl-4 border shadow">
                    <h5>Past Bookings</h5>
                    <% if @bookings[:past][:from].present? %>
                      <% @bookings[:past][:from].each do |booking| %>
                        <div class="card-booking shadow from-renter">
                          <%= image_tag booking.pokemon.image_url, class: "card-booking-img" %>
                          <div class="card-booking-info">
                            <h2><%= booking.pokemon.name %></h2>
                            <p>Owner: <%= booking.pokemon.user.username %></p>
                            <p>From: <%= booking.start_date %></p>
                            <p>To: <%= booking.end_date %></p>
                            <p>Total cost: $ <%= (booking.end_date - booking.start_date).to_i * booking.pokemon.price %></p>
                            <div class="review mt-1">
                            <% if booking.pokemon_reviews.blank? %>
                              <div class="write">
                                <%= link_to 'Write a review', new_booking_pokemon_review_path(booking), class: "text-white" %>
                              </div>
                            <% else %>
                              <%= link_to 'See my review', pokemon_path(booking.pokemon) %>
                            <% end %>
                            </div>
                          </div>


                        </div>
                      <% end %>
                    <% else %>
                      <p>You've never booked a Pokémon.</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
