<h3><%= link_to pokemon.name, pokemon_path(pokemon) %></h3>
<img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %> picture">
<p><strong><%= "Species: " %></strong><%= "#{pokemon.species}" %>
<p><strong><%= "Owner: " %></strong><%= "#{pokemon.user.username}" %>
