<div class="container py-5">
  <h3 class="card-heading ps-1 pt-4 pb-5 ">Choose Your Pokémon Buddy</h3>

  <form>
    <div class="search-form-control form-group">
      <input class="form-control string required" name="query" id="query" value="<%= params[:query] %>" placeholder="E.g. Pikachu">
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>

  <div class="cards pokemons">
    <% @pokemons.each do |pokemon| %>
      <div class="card-pokemon shadow rounded">
      <% if pokemon.image_url.present? %>

        <div class="white">
          <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %> picture">
        </div>
      <% else %>
        <img src= "https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80">
      <% end %>
        <div class="card-pokemon-details">
          <div class="mt-1">
            <h4><%= pokemon.name %></h4>
            <h6>Special skill: <%= pokemon.description %></h6>
            <p class="mb-0">Owner: <%= pokemon.user.username.capitalize %></p>
          </div>

          <div class="text-end">
            <h5>From $<%= pokemon.price %> / day<h5>
            <%= link_to "View", pokemon_path(pokemon), class: "btn btn-sm btn-dark rounded" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
