<h1>See all Pokemon</h1>

<div class="container pt-3">
  <div class="row">

    <div class="col-12 col-lg-8">
      <img src=<%= @pokemon.image_url %> alt="Pokemon" class="w-100"/>
      <h1 class="my-3"><%= @pokemon.name %></h1>
      <p>Species: <%= @pokemon.species %></p>
      <p>Location: <%= @pokemon.location %></p>
      <p>Special skill: <%= @pokemon.description %></p>
      <p>Price per day $<%= @pokemon.price %></p>
      <p>Owner: <%= @pokemon.user.username.capitalize %></p>
    </div>

    <div class="col-12 col-lg-4">
      <div class="border p-4 rounded">
       <p><b>Status</b> : <% if @pokemon.status %> Available </p>
          <% else %>
            Not available
          <% end %>
        <h2>Book Me</h2>

        <% if current_user.id != @pokemon.user_id  %>
          <%= simple_form_for [@pokemon, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.submit class: 'btn-submit-movie mt-3' %>
          <% end %>
        <% else %>
          <p>You can't rent your own Pokemon!</p>
          <%= link_to 'See all Pokemon', pokemons_path, class: 'btn btn-primary' %>
        <% end %>

      </div>

    </div>
    <div>
     <%= link_to "Back", pokemons_path %>
    </div>
  </div>
</div>
